.product-image-container {
  overflow: hidden;
}

.product-image {
  transition: transform 0.5s ease;
} 

.product-image:hover {
  transform: scale(1.1);
  transform-origin: center;
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (min-width: 900px) {
  .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
  }
}
